/* static/css/dashboard.css */
body {
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main form article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main form article section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: .5rem;
    padding: .5rem;
    background-color: darkgrey;
    border-radius: .5rem;
}

main form article section div {
    justify-content: flex-start;
    display: flex;
    padding: .5rem;
}

button {
    max-width: fit-content;
    margin: auto;
    padding: .4rem;
    background-color: aquamarine;
    border-radius: .5rem;
}

h1 {
    margin: auto;
}

label {
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: .2rem;
    margin: auto;
}

input,select {
    display: flex;
    width: 10rem;
    padding: .2rem;
    margin: auto;
    border-radius: .5rem;
}

#primary-attachments-container, #secondary-attachments-container {
    flex-direction: column;
    justify-content: flex-start;
}

#primary-attachments-container div {
    flex-grow: 0;
}

#secondary-attachments-container div {
    flex-grow: 0;
}

#title {
    color: beige;
    font-size:xx-large;
    flex-wrap: wrap;
}