/* static/css/dashboard.css */
body {
    background-color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main form article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main form article section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: fit-content;
    margin: .5rem;
    padding: .5rem;
    background-color: darkgrey;
    border-radius: .5rem;
}

main form article section div {
    justify-content: space-between;
    display: flex;
    padding: .5rem;
}

button {
    max-width: fit-content;
    margin: auto;
    padding: .4rem;
    background-color: aquamarine;
    border-radius: .5rem;
}

label {
    display: flex;
    padding: .2rem;
}

input {
    display: flex;
    padding: .2rem;
    border-radius: .5rem;
}

#primary-parts-container, #secondary-parts-container {
    display: flex;
    flex-direction: column;
}