


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

/* * {
    filter: drop-shadow(0 0 2rem rgb(46, 46, 255));
} */

img {
    border-radius: 1rem;
}