


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

/* * {
    filter: drop-shadow(0 0 2rem rgb(46, 46, 255));
} */

img {
    border-radius: 1rem;
}

input {
    background-color: rgb(0, 0, 0);
    border-radius: .5rem;
    margin: .25rem 0;
    padding: .25rem .25rem .25rem .75rem 
}

input:hover {
    background-color: rgb(61, 61, 61);
}

input:focus {
    border: .1rem solid orange;
}